{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='container'>
        <br>
        <div class='card-header bg-dark text-white'>
            <h2 class='card-title'>New Project</h2>
        </div>
        <br>
        <form method="POST">
            {% csrf_token %}
            <fieldset class='form-group'>
                {{ form|crispy }}
                <div class='form-group'>
                    <button class='btn btn-outline-info' type='submit'>Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}