{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='card-body'>
        <div class='card-header bg-dark text-white'>
            <h1>{{ profile }}</h1>
        </div>
        <div class='card-body'>
            <br>
            <form method='POST'>
                {% csrf_token %}
                {{ email_form|crispy }}
                {{ form|crispy }}
                <button class='btn btn-md btn-success' type="submit">Update</button>
            </form>
        </div>
    </div>
{% endblock content %}