{% extends "dashboard/base.html" %}
{% block content %}
    <div class="card-body">
        <div class='card-header text-white' style="background-color: #4d4d4d;">
            <h1 class='card-title'>{{ profile.first_name }} {{ profile.last_name }}</h1>
        </div>
        <div class='card-body'>
            <br>
            <h3>Contact Info:</h3>
            <br>
            <div class='row'>
                <div class='col'>
                    {{ profile.company }}
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col'>
                    {{ profile.user.email }}
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col'>
                    {{ profile.phone }}
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col'>
                    {{ profile.address }}, {{ profile.city }}, {{ profile.province }}, {{ profile.country }}
                </div>
            </div>
            <br>
            <h3>Options:</h3>
            <br>
            <a class='btn btn-md btn-primary' href="{% url 'profile_update' user.profile.id %}">Update Profile</a>
            <br>
            <br>
            <a class='btn btn-md btn-primary' href="{% url 'password_reset' %}">Change Password</a>
        </div>
    </div>
{% endblock content %}