{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <div class='row card-body'>
        <div class='col'>
            <div class='card-deck'>
                <div class='card text-center mb-3'>
                    <div class='card-block'>
                        <div class='card-header text-white' style="background-color: #262626;">
                            <h5 class='card-title'>{{ card_titles.0 }}</h5>
                        </div>
                        <div class='card-body'>
                            <h3 class='card-title'>{{ card_1 }}</h3>
                        </div>
                    </div>
                </div>
                <div class='card text-center mb-3'>
                    <div class='card-block'>
                        <div class='card-header text-white' style="background-color: #4d4d4d;">
                            <h5 class='card-title'>{{ card_titles.1 }}</h5>
                        </div>
                        <div class='card-body'>
                            <h3 class='card-title'>{{ card_2 }}</h3>
                        </div>
                    </div>
                </div>
                <div class='card text-center mb-3'>
                    <div class='card-header text-white' style="background-color: #666666;">
                        <h5 class='card-title'>{{ card_titles.2 }}</h5>
                    </div>
                    <div class='card-body'>
                        <h3 class='card-title'>{{ card_3 }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col'>
            <div class='card-body'>
                <form method='GET'>
                    <table class='table table-sm'>
                        <tr>
                            {% for i in myFilter.form %}
                                {% if request.user.groups.first.name == "Client" and i.label == 'Client' %}
                            
                                {% else %}
                                    <td>
                                        {{ i|as_crispy_field }}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                    <button class='btn btn-primary' type='submit'>Search</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class='row card-body'>
        <div class='col-md'>
            <table class='table table-sm'>
                {% if request.user.groups.first.name == "Manager" or request.user.groups.first.name == "Technician" %}
                    <tr>
                        <th>Client</th>
                        <th>Project</th>
                        <th>Type</th>
                        <th>ID</th>
                        <th>Date Sampled</th>
                        <th>Date Received</th>
                        <th>Status</th>
                        <th>View</th>
                        <th>Update</th>
                    </tr>
                    {% for report in page_obj %}
                        <tr>
                            <td>{{ report.project_name.company }}</td>
                            <td>{{ report.project_name }}</td>
                            <td>{{ report.report_type }}</td>
                            <td>{{ report.id }}</td>
                            <td>{{ report.date_sampled }}</td>
                            <td>{{ report.date_received }}</td>
                            <td>
                                {% if report.status == 0 %}
                                    Incomplete
                                {% else %}
                                    Complete
                                {% endif %}
                            </td>
                            <td><a class='btn btn-sm btn-info' href="{% url 'view_report_full' report.id %}">View</a></td>
                            <td><a class='btn btn-sm btn-warning' href="{% url 'update_report_full' report.id %}">Update</a></td>
                        </tr>
                    {% endfor %}
                {% elif request.user.groups.first.name == "Client" %}
                    <tr>
                        <th>Project</th>
                        <th>Type</th>
                        <th>ID</th>
                        <th>Date Sampled</th>
                        <th>Date Received</th>
                        <th>Status</th>
                        <th>View</th>
                    </tr>
                    {% for report in myFilter.qs %}
                        <tr>
                            <td>{{ report.project_name }}</td>
                            <td>{{ report.report_type }}</td>
                            <td>{{ report.id }}</td>
                            <td>{{ report.date_sampled }}</td>
                            <td>{{ report.date_received }}</td>
                            <td>
                                {% if report.status == 0 %}
                                    Incomplete
                                {% else %}
                                    Complete
                                {% endif %}
                            </td>
                            <td><a class='btn btn-sm btn-info' href="{% url 'view_report_full' report.id %}">View</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>

            <div class='pagination'>
                {% if page_obj.has_other_pages %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock content %}