{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='card-body'>
        <div class='card-header bg-dark text-white'>
            <h1>{{ instance }}</h1>
        </div>
        <div class='card-body'>
            <br>
            <form method='POST'>
                {% csrf_token %}
                <div class='row'>
                    <div class='col-4'>
                        {{ standard_form|crispy }}
                    </div>
                    {% if 'cutoff' in parameter_form.fields %}
                        <div class='col-4'>
                            {{ parameter_form|crispy }}
                        </div>
                    {% else %}
                        <div class='col-4'>
                            <div class='row'>
                                {{ parameter_form.min_120|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.min_80|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.min_40|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.min_20|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.min_10|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.min_5|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.min_1|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.min_05|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.min_025|as_crispy_field }}
                            </div>
                        </div>
                        <div class='col-4'>
                            <div class='row'>
                                {{ parameter_form.max_120|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.max_80|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.max_40|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.max_20|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.max_10|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.max_5|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.max_1|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.max_05|as_crispy_field }}
                            </div>
                            <div class='row'>
                                {{ parameter_form.max_025|as_crispy_field }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class='row'>
                    <div class='col' >
                        <button class='btn btn-md btn-danger' type='submit' name='delete'>Delete</button>
                    </div>
                    <div class='col text-right'>
                        <button class='btn btn-md btn-success' type='submit' name='update'>Update</button>        
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}