{% load crispy_forms_tags %}
<div class='col'>
    <div class='row'>
        <legend class='border-bottom mb-4'>Parameters</legend>
        <div class='col'>
            <div class='row'>
                {{ parameter_form.min_120|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.min_80|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.min_40|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.min_20|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.min_10|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.min_5|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.min_1|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.min_05|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.min_025|as_crispy_field }}
            </div>
        </div>
        <div class='col'>
            <div class='row'>
                {{ parameter_form.max_120|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.max_80|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.max_40|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.max_20|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.max_10|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.max_5|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.max_1|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.max_05|as_crispy_field }}
            </div>
            <div class='row'>
                {{ parameter_form.max_025|as_crispy_field }}
            </div>
        </div>
    </div>
</div>