{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='container'>
        <br>
        <h1>Today's Samples</h1>
        <br>
        <table class="table">
            <tr>
                <th>Project</th>
                <th>Project ID</th>
                <th>Sample ID</th>
                <th>Date Cast</th>
                <th>Action</th>
            </tr>
            {% for sample in samples %}
                <tr>
                    <td>{{ sample.report.project_name }}</td>
                    <td>{{ sample.report.id }}</td>
                    <td>{{ sample.id }}</td>
                    <td>{{ sample.report.date_cast }}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_report_add' sample.id %}">Update</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}