{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <form method="POST" id="reportForm" data-projects-url="{% url 'ajax_load_projects' %}">
        {% csrf_token %}
        <div class='container p-3 my-3 border'>
            <div class='row border-bottom'>
                <div class='col-8'>
                    <p>
                        <img src="{% static 'dashboard/generic_logo.png' %}">
                        <br>
                    </p>
                </div>
                <div class='col-4'>
                    <p>
                        {{ project_form.office|as_crispy_field}}
                    </p>
                </div>
            </div>
            <div class='row'>
                <div class='col-6'>
                    <p>
                        {{ project_form.company|as_crispy_field }}
                    </p>
                </div>
                <div class='col-3'>
                    {% for hidden in report_form.hidden_fields %}
                        {{ report_form.id }}
                        {{ report_form.status }}
                    {% endfor %}
                    <p>
                        {{ report_form.project_name|as_crispy_field }} <br>
                        {{ report_form.date_sampled|as_crispy_field }} <br>
                    </p>
                </div>
                <div class='col-3'>
                    <p>
                        {{ report_form.technician|as_crispy_field }} <br>
                        {{ report_form.date_received|as_crispy_field }}
                    </p> 
                </div>
            </div>
            <hr>
            <div class='row'>
                <div id='form_set'>
                    {{ sample_forms.management_form }}
                    <div id="empty_form" style="display:none">
                        <div class=row>
                            <div class='col'>
                                <p>
                                    {{ sample_forms.empty_form.days_break|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample_forms.empty_form.break_date|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample_forms.empty_form.width|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample_forms.empty_form.height|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample_forms.empty_form.weight|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample_forms.empty_form.strength|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample_forms.empty_form.result|as_crispy_field }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% for sample in sample_forms %}
                        {% for hidden in sample.hidden_fields %}
                            {{ sample.id }}
                        {% endfor %}
                        <div class=row>
                            <div class='col'>
                                <p>
                                    {{ sample.days_break|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample.break_date|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample.width|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample.height|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample.weight|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample.strength|as_crispy_field }}
                                </p>
                            </div>
                            <div class='col'>
                                <p>
                                    {{ sample.result|as_crispy_field }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class='row'>
                    <div class='col text-right'>
                        <input class="btn btn-outline-info" type="button" value="Add" id="add_more">
                        <input class="btn btn-outline-danger" type="button" value="Remove" id="remove_more">
                    </div>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col'>
                    <p>
                        <b>Other metadata such as:</b> <br>
                        Mix ID: <br>
                        Supplier: <br>
                        ...
                    </p>
                </div>
            </div>
        </div>
        <div class='container  p-3 my-3'>
            <div class='row'>
                <div class='col' >
                    <button class='btn btn-md btn-danger' type='submit' name='delete'>Delete</button>
                </div>
                <div class='col text-right'>
                    <input type="checkbox" class="form-check-input" id="mac-checkbox">
                    <label class="form-check-label" for="mac-checkbox">Mark As Complete</label>
                    <button class='btn btn-md btn-success' type='submit' name='update'>Submit</button>        
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
        $("#id_form3-company").on('change', function() {
            var url = $("#reportForm").attr("data-projects-url");
            var clientId = $(this).val();
            $.ajax({
                url: url,
                data: {
                    'client': clientId
                },
            success: function(data) {
                $("#id_form1-project_name.select.form-control").html(data);
            }
            });
        });
    </script>
    <script>
        $('#add_more').click(function() {
            var num_forms = $('#id_form2-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, num_forms));
            $('#id_form2-TOTAL_FORMS').val(parseInt(num_forms) + 1);
        });
    </script>
    <script>
        $('#remove_more').click(function() {
            var num_forms = $('#id_form2-TOTAL_FORMS').val();
            $('#form_set').children('div').eq(-1).remove();
            $('#id_form2-TOTAL_FORMS').val(parseInt(num_forms) - 1);
        });
    </script>
{% endblock content %}