{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='container'>
        <legend>Update Report</legend>
        <table class="table">
            <tr>
                <th>Project</th>
                <th>ID</th>
                <th>Date Cast</th>
            </tr>
            <tr>
                <td>{{ instance.report.project_name }}</td>
                <td>{{ instance.id }}</td>
                <td>{{ instance.cast_day }}</td>
            </tr>
        </table>
        <form method="POST">
            {% csrf_token %}
            <fieldset class='form-group'>
                <table class="table">
                    <tr>
                        <td>{{ form.width|as_crispy_field }}</td>
                        <td>{{ form.height|as_crispy_field }}</td>
                        <td>{{ form.weight|as_crispy_field }}</td>
                        <td>{{ form.strength|as_crispy_field }}</td>
                    </tr>
                </table>
                {% if form.confirm in forms.hidden_fields %}
                    {{ form.confirm }}
                {% else %}
                    {% if 'Warning' in form.non_field_errors.as_text %}
                        <div class="alert alert-danger">{{ form.non_field_errors.as_text }}</div>
                    {% else %}
                    <div class="alert alert-warning">{{ form.non_field_errors.as_text }}</div>
                    {% endif %}
                        {{ form.confirm|as_crispy_field }}
                {% endif %}
                <div class='form-group'>
                    <button class='btn btn-outline-info' type='submit'>Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}